TestResults/
packages/
bin/
obj/
*/bin/
*/obj/
/.vs/WESV2/v15
/WESV2.sln.DotSettings.user
*.suo
*.user
.dtbcache
.vs
.vs/
Wes/develop/
*AssemblyInfo.cs
!AssemblyInfo.cs
/setup
setup
REVISION
UpgradeLog.htm
.idea/
package-lock.json
node_modules/