<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WES_SERVER_URL" value="http://localhost:12339/" />
    <add key="WMS_REST_SERVER_URL" value="http://172.16.4.23:9091/customer/" />
    <add key="WMS_DEBUG_REST_SERVER_URL" value="http://wms-server:9091/customer/" />
    <add key="WMS_LOG_FTP_URL" value="ftp://172.16.4.23/pub/logs/"/>
    <add key="SID_SERVER" value="http://172.16.4.23:1010/sf/next-small"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />

    <add key="RobotAppKey" value="7e5c97809ad342bab71bac1247fa689f" />

    <!-- 自动更新相关配置-->
    <add key="InstallPath" value="c:\wes-v2\" />
    <add key="UpdateUrl" value="ftp://172.16.4.23/pub/" />
    <add key="FTP_USER" value="ftpuser" />
    <add key="FTP_PASSWORD" value="ftpuser" />

    <!-- 打印模板ftp位置-->
    <add key="PRINT_TEMPLATE_URL" value="ftp://172.16.4.103:9021//" />
    <add key="PRINT_FTP_DIR" value="Template" />
    <add key="PRINT_FTP_USER" value="spreaduser" />
    <add key="PRINT_FTP_PASSWORD" value="Su_29423800" />

    <!-- 企业微信api-->
    <add key="WX_CORYID" value="wwc072e68cd520ea14"/>
    <add key="WX_AGENTID" value="1000017" />
    <add key="WX_SECRET" value="o86m8fJ2IZREzvmpdM1fT-iF1l7cQiNW_4iGUT2mpw8" />
    
    <!--通知企业成员名列表，多个用|分割  参考企业微信api https://work.weixin.qq.com/api/doc#90000/90135/90236-->
    <add key="WX_USER_CODE" value="h.bo|10005|FengXiaoFei|rockyang|LiBaiWei|felix_yau|jennyyang|ZhangChunXia|jackiel|winson|LiuSiYing|HONGTAO_DAI|lauren.lin|ZhangSiYi|maysyue|GaoKaiWai|paulyang"/>
    <!--通知企业部门-->
    <add key="WX_IT_PART" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>